<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="org.apache.cordova.core.contacts"
      version="0.1.0">

    <name>Contacts</name>
    <description>Cordova Contacts Plugin</description>
    <license>Apache</license>
    <keywords>cordova,contacts</keywords>

    <!-- firefoxos --> 
    <platform name="firefoxos">
        <config-file target="config.xml" parent="/*">
            <param name="firefox-package" value="Contacts" />
        </config-file>                                      
        
        <source-file src="src/firefoxos/contacts.js" />
    </platform>
            
</plugin>
